.inform-nav {
	background-color: $athens-gray;
	&.inform-nav--col {
		padding: 15px 0;
		.inform-nav {      
			&__list {
				align-items: flex-start;
				flex-direction: column;
			}
			&__item {
				margin-right: 0;
				margin-bottom: 10px;
				&:last-child { margin-bottom: 0; }
			}
			&__link {
				padding: 0 15px;
			}
		}
	}
	&__list {
		align-items: center;
		display: flex;
	}
	&__item {
		margin-right: 30px;
		&:last-child { margin-right: 0; }
		&.inform-nav__tablet-hide {
			@media screen and (min-device-width: $phablet-size) and (max-device-width: $tablet-size) {
				display: none;
			}
		}
	}
	&__tablet {
		&-toggle {
			cursor: pointer;
			display: none;
			position: relative;
			@media screen and (min-device-width: $phablet-size) and (max-device-width: $tablet-size) {
				display: block;
			}
			&.inform-subnav--open {
				.inform-subnav {
					@media screen and (min-device-width: $phablet-size) and (max-device-width: $tablet-size) {
						display: block;
					}
				}
			}
		}
		&-icon {
			fill: $blaze-orange;
			@include size(20px);
		}
	}
	&__link {
		color: $tundora;
		font-size: $base-font-size - 4px;
		line-height: 1.67;
	}
}

.inform-subnav {
	background-color: $white;
	box-shadow: 0 5px 15px 0 rgba(38, 38, 38, 0.4);
	display: none;
	min-width: 200px;
	left: -30px;
	position: absolute;
	padding: 10px 0;
	top: 30px;
	z-index: 6;
	&__link {
		color: $tundora;
		font-size: $base-font-size - 4px;
		line-height: 30px;
		padding: 0 20px;
	}
	&__arrow {
		@include size(20px);
		left: 30px;
		overflow: hidden;
		position: absolute;
		top: -20px;
		z-index: 1;
		&:before {
			@include size(16px);
			content: '';
			background-color: $white;
			bottom: -10px;
			box-shadow: 0 0 14px -2px rgba(38, 38, 38, 0.4);
			left: 50%;
			position: absolute;
			transform: translateX(-50%) rotate(45deg);
		}
	}
}