.inform-nav {
  background-color: $athens-gray;
  &.inform-nav--col {
    padding: 15px 0;
    .inform-nav {      
      &__list {
        align-items: flex-start;
        flex-direction: column;
      }
      &__item {
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child { margin-bottom: 0; }
      }
      &__link {
        padding: 0 15px;
      }
    }
  }
  &__list {
    align-items: center;
    display: flex;
  }
  &__item {
    margin-right: 30px;
    &:last-child { margin-right: 0; }
  }
  &__link {
    color: $tundora;
    font-size: $base-font-size - 4px;
    line-height: 1.67;
  }
}