@import "src/blocks/buttons/buttons";

.s-banner {
	margin-bottom: 0;
	padding: 30px 0;
	@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
		padding-top: 0;
	}
	.container {
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			padding: 0;
		}
	}
}

.banner {
	background-image: linear-gradient(255deg, #ffb800, #ff6d00);
	border-radius: 4px;
	height: 300px;
	overflow: hidden;
	padding: 0 90px;
	position: relative;
	@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
		border-radius: 0;
		padding: 0 15px;
	}
	&__item {
		outline: none;
	}
	&__navigation {
		@include size(50px);
		align-items: center;
		background-color: rgba($white, .2);
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin-top: -25px;
		position: absolute;
		top: 50%;
		transition: all linear 0.3s;
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			display: none;
		}
		&.banner__navigation {
			&--prev {
				left: 30px;
			}
			&--next {
				right: 30px;
			}
		}
		&:hover {
			background-color: rgba($white, .5);
			.banner__navigation-icon {
				fill: rgba($black, .8);
			}
		}
		&-icon {
			fill: rgba($black, .5);
			height: 17px;
			transition: all linear 0.3s;
			width: 10px;
		}
	}
	&__content {
		display: flex;
		height: 300px;
		vertical-align: middle;
	}
	&__body {
		color: $white;
		flex: 0 0 55%;
		margin: auto;
		width: 55%;
		@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			margin: auto;
			flex: 0 0 40%;
			width: 40%;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			flex: 0 0 45%;
			padding-right: 10px;
			text-align: right;
			width: 45%;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phone-size) {
			flex: 0 0 50%;
			padding-right: 0;
			text-align: start;
			width: 50%;
		}
	}
	&__title {
		display: block;
		font-family: "VAGRounded", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-size: ($base-font-size * 3) + 2px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		width: 390px;
		@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			font-size: $base-font-size * 3 + 2px;
			margin-top: 0;
			margin-left: auto;
			margin-right: auto;
			width: 370px;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			font-size: $base-font-size * 2 + 5px;
			width: auto;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phone-size) {
			width: auto;
			font-size: $base-font-size * 2 - 2px;
		}
	}
	&__descr {
		display: block;
		font-family: "VAGRounded", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-size: $base-font-size + 2px;
		font-weight: 400;
		line-height: 1.67;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		width: 390px;
		@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			font-size: $base-font-size - 1px;
			margin-bottom: 35px;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			width: 370px;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			font-size: $base-font-size - 3px;
			width: auto;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phone-size) {
			font-size: $base-font-size - 4px;
			width: auto;
		}
	}
	&__img {
		max-width: 100%;
		margin: auto;
		padding-left: 60px;
		@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			padding-left: 0;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			min-width: 120px;
			padding: 0;
		}
		&-wrapper {
			flex: 1;
			margin: auto;
			text-align: center;
			@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			flex: 0 0 30%;
			text-align: center;
			width: 30%;
			}
			@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
				flex: auto;
				width: auto;
			}
		}
	}
	&__dot {
		@include size(10px);
		border-radius: 50%;
		background-color: rgba(38, 38, 38, 0.3);
		cursor: pointer;
		display: block;
	}
	&__dots {
		bottom: 20px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		z-index: 2;
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			bottom: 10px;
		}
		.slick-dots {
			align-items: center;
			display: flex;
			li {
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				&.slick-active {
					.banner__dot {
						background-color: $white;
					}
				}
			}
		}
	}
	.btn {
		margin-left: 65px;
		@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			margin-left: 0;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			display: none;
		}
	}
}
