mixin banner()

	section.s-banner
		.container
			.banner
				.banner__navigation.banner__navigation--prev
					svg(class="banner__navigation-icon")
						use(xlink:href="img/sprite.svg#chevron-left")
				.banner__navigation.banner__navigation--next
					svg(class="banner__navigation-icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				.banner__dots
				.js-banner
					.banner__item
						.banner__content
							.banner__body
								span.banner__title Беговелы
								span.banner__descr Отличный подарок для детей от 1 года
								a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
							.banner__img-wrapper.banner__img--first
								img(src="img/banner-img-1.png" alt="Картинка на баннере").banner__img
					.banner__item
						.banner__content
							.banner__body
								span.banner__title Беговелы
								span.banner__descr Мечта - даже педали крутить не нужно
								a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
							.banner__img-wrapper.banner__img--second
								img(src="img/banner-img-2.png" alt="Картинка на баннере").banner__img
					.banner__item
						.banner__content
							.banner__body
								span.banner__title Беговелы
								span.banner__descr Отличный подарок для детей от 1 года
								a(href="").btn.btn--transparent-white.btn--round.btn--inline Выбрать
							.banner__img-wrapper.banner__img--third
								img(src="img/banner-img-3.png" alt="Картинка на баннере").banner__img