.about {
	display: flex;
	@media screen and (min-width: $phone-size-small) and (max-width: $tablet-size) {
		flex-direction: column;
	}
	& > * {
		margin-right: 30px;
		&:last-child { margin-right: 0; }
	}
	&__body {
		flex: 1;
		min-height: 245px;
		@media screen and (min-width: $phone-size-small) and (max-width: $tablet-size) {
			order: 2;
			min-height: 190px;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			min-height: 225px;
		}
		.tab {
			& > * {
				margin: 15px 0;
				&:first-child { margin-top: 0; }
				&:last-child { margin-bottom: 0; }
			}
		}
	}
	&-navigation {
		flex: 0 0 255px;
		width: 255px;
		@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			text-align: center;
			display: flex;
			order: 1;
			flex: 1;
			margin-bottom: 30px;
			width: 100%;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			display: flex;
			flex-direction: row;
			overflow: auto;
			width: 100%;
		}
		&__item {
			border-bottom: 2px solid $alto;
			line-height: 48px;
			height: 50px;
      min-width: 150px;
			padding-left: 10px;
			@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
				flex: 1;
				margin-right: 30px;
				padding-left: 0;
			}
			@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
				margin-right: 20px;
				padding: 0;
				text-align: center;
			}
			&:last-child {
				@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
					margin-right: 30px;
				}
			}
			&:hover {
				border-bottom-color: $blaze-orange;
			}
			&.tabs-navigation__item--active {
				border-bottom-color: $blaze-orange;
			}
		}
	}
}

.s-about {
	padding: 30px 0 30px 0;
	font-size: $base-font-size - 2px;
	@media screen and (min-width: $phone-size-small) and (max-width: $tablet-size) {
		padding: 30px 0 40px 0;
	}
}
