mixin about()

	section.s-about
		.container
			h2.title-section О нас
			.about.tabs
				.tabs__body.about__body
					.tab.tab--active.tab-shop
						p.text Интернет-магазин Baby-Toys предлагает широчайший выбор детского транспорта. В каталоге вы найдете лучшие велосипеды, самокаты, беговелы от ведущих производителей Европы и Китая по конкурентоспособным ценам. В наличии представлены модели самых разных типов, предназначенные для любого возраста. Подарите своему ребенку ни с чем не сравнимую радость движения!
						p.text Велосипеды по-прежнему остаются для детей одними из самых желанных подарков. И девочки и мальчики мечтают об одном из таких «друзей». Такая покупка подарит ребенку массу удовольствия и радости. Кроме того, это еще и полезный подарок. Велопрогулки помогают ребенку развиваться и поддерживают его в хорошей физической форме, тренируют сердце, оказывают положительное воздействие на формирование осанки. Детский велосипед помогает улучшить координацию, развивают мышцы, а еще дают выход для неуемной энергии ребенка.
					.tab.tab-advantages
						p.text Велосипеды по-прежнему остаются для детей одними из самых желанных подарков. И девочки и мальчики мечтают об одном из таких «друзей». Такая покупка подарит ребенку массу удовольствия и радости. Кроме того, это еще и полезный подарок. Велопрогулки помогают ребенку развиваться и поддерживают его в хорошей физической форме, тренируют сердце, оказывают положительное воздействие на формирование осанки. Детский велосипед помогает улучшить координацию, развивают мышцы, а еще дают выход для неуемной энергии ребенка.						
					.tab.tab-service
						p.text Интернет-магазин Baby-Toys предлагает широчайший выбор детского транспорта. В каталоге вы найдете лучшие велосипеды, самокаты, беговелы от ведущих производителей Европы и Китая по конкурентоспособным ценам. В наличии представлены модели самых разных типов, предназначенные для любого возраста. Подарите своему ребенку ни с чем не сравнимую радость движения!
						p.text Велосипеды по-прежнему остаются для детей одними из самых желанных подарков. И девочки и мальчики мечтают об одном из таких «друзей». Такая покупка подарит ребенку массу удовольствия и радости. Кроме того, это еще и полезный подарок. Велопрогулки помогают ребенку развиваться и поддерживают его в хорошей физической форме, тренируют сердце, оказывают положительное воздействие на формирование осанки. Детский велосипед помогает улучшить координацию, развивают мышцы, а еще дают выход для неуемной энергии ребенка.
					.tab.tab-delivery
						p.text Велосипеды по-прежнему остаются для детей одними из самых желанных подарков. И девочки и мальчики мечтают об одном из таких «друзей». Такая покупка подарит ребенку массу удовольствия и радости. Кроме того, это еще и полезный подарок. Велопрогулки помогают ребенку развиваться и поддерживают его в хорошей физической форме, тренируют сердце, оказывают положительное воздействие на формирование осанки. Детский велосипед помогает улучшить координацию, развивают мышцы, а еще дают выход для неуемной энергии ребенка.
						p.text Интернет-магазин Baby-Toys предлагает широчайший выбор детского транспорта. В каталоге вы найдете лучшие велосипеды, самокаты, беговелы от ведущих производителей Европы и Китая по конкурентоспособным ценам. В наличии представлены модели самых разных типов, предназначенные для любого возраста. Подарите своему ребенку ни с чем не сравнимую радость движения!
				ul.tabs-navigation.about-navigation
					li(show-tab="tab-shop").about-navigation__item.tabs-navigation__item.tabs-navigation__item--active Интернет-магазин
					li(show-tab="tab-advantages").about-navigation__item.tabs-navigation__item.tabs-navigation__item Наши преимущества
					li(show-tab="tab-service").about-navigation__item.tabs-navigation__item Сервис
					li(show-tab="tab-delivery").about-navigation__item.tabs-navigation__item Доставка