include hits/sales
include hits/benefits
include hits/new

mixin hits()

	section.s-hits
		.container
			h2.title-section Хиты продаж
			.hits.tabs
				ul.tabs-navigation.hits-navigation
					li(show-tab="tab-sales").hits-navigation__item.tabs-navigation__item.tabs-navigation__item--active Хиты продаж
					li(show-tab="tab-benefits").hits-navigation__item.tabs-navigation__item Выгодно
					li(show-tab="tab-new").hits-navigation__item.tabs-navigation__item Новинки
				.tabs__body.hits__body
					.tab.tab--active.tab-sales
						+sales()
					.tab.tab-benefits
						+benefits()
					.tab.tab-new
						+new()