@import "src/blocks/hits/tab";
@import "src/blocks/hits/titles";
@import "src/blocks/products/products";

.hits {
  &-navigation {
    align-items: center;
    display: flex;
    overflow: auto;
    &__item {
      border-bottom: 2px solid $alto;
      flex: 1;
      height: 50px;
      margin-right: 30px;
      line-height: 48px;
      min-width: 150px;
      text-align: center;
      &:last-child { margin-right: 0; }
			&:hover {
				border-bottom-color: $blaze-orange;
			}
      &.tabs-navigation__item--active {
        border-bottom-color: $blaze-orange;
      }
    }
  }
  &__body {
    padding-top: 20px;
  }
}

.s-hits {
  @media screen and (min-device-width: $phablet-size) and (max-device-width: $tablet-size) {
    padding: 0 0 45px 0;
  }
  @media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
    margin-bottom: 15px;
  }
}