include ../../products/prev-1
include ../../products/prev-2
include ../../products/prev-3
include ../../products/prev-4
include ../../small-blocks/icon

mixin benefits()

	.products-line-slider
		.js-products-line-slider
			+prev-4()
			+prev-1()
			+prev-2()
			+prev-3()
		.products-line-slider__navigation
			.products-line-slider__btn.products-line-slider__btn--prev
				+icon('chevron-left', 'products-line-slider__icon')
			.products-line-slider__dots
			.products-line-slider__btn.products-line-slider__btn--next
				+icon('chevron-right', 'products-line-slider__icon')