.category {
	&__header {
		align-items: center;
		display: flex;
		margin-bottom: 20px;
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			flex-wrap: wrap;
			vertical-align: middle;
			width: 100%;
		}
		.title-page {
			margin-bottom: 0;
			@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
				margin-right: auto;
				margin-bottom: 7px;
			}
		}
	}
	&__toggles {
		display: flex;
		margin-left: auto;
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			justify-content: space-between;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: 570px) {
			margin-left: 0;
		}
	}
	&__sort {
		margin-left: auto;
		margin-top: 5px;
		min-width: 188px;
		@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			margin-left: 0;
			margin-right: 0;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			margin-top: -5px;
			margin-left: 5px;
		}
	}
	&__body {
		align-items: flex-start;
		display: flex;
	}
	&__filter {
		flex: 0 0 255px;
		margin-right: 30px;
		width: 255px;
	}
	&-main {
		flex: 1;
	}
	&__content {
		.container {
			padding: 0;
		}
	}
}

.s-category {
	&-slider {
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			display: none;
		}
		.container {
		padding: 0;
		}
	}
	&-main {
		margin-right: -13px;
		padding-top: 0;
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			margin-right: 0;
		}
	}
}
