@import "src/blocks/search/search-form";

.search {
	position: relative;
	&__icon {
		width: 20px;
		height: 21px;
		cursor: pointer;
		fill: $blaze-orange;
	}
	&-result {
		&__header {
			margin-bottom: 30px;
			& > * {
				margin: 30px 0;
				&:first-child { margin-top: 0; }
				&:last-child { margin-bottom: 0; }
			}
		}
		&__body {
			margin-bottom: 15px;
		}
		&__request {
			background-color: $athens-gray;
			border-radius: 4px;
			padding: 20px;
			& > * {
				margin: 15px 0;
				&:first-child { margin-top: 0; }
				&:last-child { margin-bottom: 0; }
			}
		}
		&__label {
			color: $tundora;
			display: block;
			font-weight: 700;
		}
	}
}