include ../small-blocks/icon

mixin search()

	+icon('search', 'search__icon')



mixin search-form()

	form.search__form
		.search__input-wrapper
			input(placeholder="Я хочу купить...").search__input
			.search__clear
				+icon('close', 'search__clear-icon')
		button(type="button" value="Найти" onClick='location.href="search.html"').search__btn Найти
		