.footer {
	flex: 0 0 auto;
	font-size: $base-font-size - 2px;
}

.footer {
	background-color: $athens-gray;
	&__main {
		padding: 40px 0;
		@media screen and (max-width: $tablet-size) {
			padding: 40px 0 0 0;
		}
		@media screen and (max-width: $phone-size) {
			padding: 30px 0;
		}
		.container {
			align-items: flex-start;
			display: flex;
			@media screen and (max-width: $tablet-size) {
				flex-wrap: wrap;
			}
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		margin-right: 130px;
		max-width: 215px;
		@media screen and (max-width: $tablet-size) {
			flex: 0 0 226px;
			margin-right: 0;
			width: 226px;
		}
		@media screen and (max-width: $phone-size) {
			flex: 0 0 46%;
			font-size: $base-font-size - 4px;
			width: 46%;
			margin-bottom: 20px;
			max-width: 100%;
		}
		&:last-child {
			margin-right: 0;
			@media screen and (max-width: $phone-size) {
				margin-bottom: 0;
			}
		}
		&.footer__item {
			&--wide {
				@media screen and (max-width: $phone-size) {
					flex: 1;
					flex-direction: row;
					width: 100%;
					justify-content: space-between;
				}
				& > * {
					@media screen and (max-width: $phone-size) {
						flex: 0 0 45%;
						width: 45%;
						margin: 0;
					}
				}
			}
			&--full {
				@media screen and (max-width: $phone-size) {
					flex: 1;
					flex-direction: row;
					width: 100%;
				}
			}
		}
		& > * {
			margin: 15px 0;
			@media screen and (max-width: $phone-size) {
				margin: 5px 0;
			}
			&:first-child { margin-top: 0; }
			&::last-child { margin-bottom: 0; }
		}
	}
	&__socials {
		padding: 30px 0;
		display: flex;
		@media screen and (max-width: $tablet-size) {
			padding: 0 0 30px 0;
		}
		@media screen and (max-width: $phone-size) {
			width: 100%;
		}
		.facebook {
			@media screen and (max-width: $tablet-size) {
				display: none;
			}
		}
		.container {
			align-items: center;
			display: flex;
		}
	}
	&__bottom {		
		background-color: rgba(0, 0, 0, 0.05);
		padding: 20px 0;
		.container {
			align-items: flex-start;
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: $phone-size) {
				align-items: center;
				flex-direction: column;
				text-align: center;
			}
			@media screen and (max-width: $tablet-size) {
				font-size: $base-font-size - 4px;
				line-height: 1.67;
			}	
			/* & > * {
				@media screen and (max-width: $phone-size) {
					flex: 1;
					width: 100%;
				}
				@media screen and (max-width: $tablet-size) {
					flex: 0 0 45%;
					width: 45%;
				}
			} */
		}
	}
	&__personal-data {
		color: $oslo-gray;
		text-align: right;
		margin: auto;
		margin-right: 0;
		@media screen and (max-width: $tablet-size) {			
			flex: 0 0 45%;
			width: 45%;
		}
		@media screen and (max-width: $phone-size) {
			flex: auto !important;
			margin-left: 0px;
			margin-top: 10px !important;
			text-align: center;margin: 0;
			width: 100% !important;
		}
	}
	&__contacs {
		margin-left: auto;
		text-align: right;
		@media screen and (max-width: $tablet-size) {
			display: none;
		}
		&-mobile {
			display: none;
			justify-content: space-between;
			width: 100%;
			@media screen and (max-width: $phone-size) {
				flex-wrap: wrap;
			}
			@media screen and (max-width: $tablet-size) {
				display: flex;
			}
		}
	}
	&__phones {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		& > * {
			margin: 4px 0;
			&:first-child { margin-top: 0; }
			&::last-child { margin-bottom: 0; }
		}
	}
	&__phone {
		color: $mine-shaft;
		font-size: $base-font-size + 4px;
		font-weight: 600;
		@media screen and (max-width: $phone-size) {
			font-size: $base-font-size;
		}
	}
	&__mail {
		color: $mine-shaft;
		@media screen and (max-width: $tablet-size) {
			margin-top: 18px;
		}
	}
	&__adress {
		line-height: 1.79;
		font-weight: 600;
	}
	&__navigation {		
		align-items: flex-start;
		display: flex;
		margin-bottom: 30px;
		@media screen and (max-width: $phone-size) {
			flex-wrap: wrap;
		}
		@media screen and (max-width: $tablet-size) {
			flex: 1;
			justify-content: space-between;
			width: 100%;
		}	
	}
	&__text {
		&-phone {
			font-size: $base-font-size;
			@media screen and (max-width: $phone-size) {
				font-size: $base-font-size - 2px;
			}
		}
	}
	&-nav {
		&__item {
			margin-bottom: 10px;
			&:last-child { margin-bottom: 0; }
		}
		&__link {
			color: $mine-shaft;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.socials {
	align-items: center;
	display: flex;
	@media screen and (max-width: $phone-size) {
		justify-content: center;
	}
	@media screen and (max-width: $tablet-size) {
		width: 100%;
		justify-content: space-between;
	}
	&__item {
		margin-right: 50px;
		@media screen and (max-width: $phone-size) {
			// flex: auto;
			// margin-right: 80px;
			// width: 100%;
		}
		@media screen and (max-width: $tablet-size) {
			// flex: 0 0 216px;
			margin-right: 0;
			// width: 216px;
			display: flex;
			justify-content: space-between;
		}
		&:last-child { margin-right: 0;	}		
	}
	&__link {
		align-items: center;
		color: $oslo-gray;		
		display: flex;
		font-weight: 300;
		& > * {
			margin-right: 15px;
			@media screen and (max-width: $phone-size) {
				margin-right: 0;
			}
			&:last-child { margin-right: 0; }
		}
	}
	&__name {
		@media screen and (max-width: $phone-size) {
			display: none;
		}
	}
}

.facebook {
	align-items: center;
	display: flex;
	margin-left: auto;
	@media screen and (max-width: $phone-size) {
		align-items: center;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}
	@media screen and (max-width: $tablet-size) {
		align-items: flex-start;
		margin-left: 0;
		flex-direction: column;
	}
	& > * {
		margin-right: 20px;
		@media screen and (max-width: $phone-size) {
			margin-right: 15px;
		}
		@media screen and (max-width: $tablet-size) {
			margin-right: 0;
			margin-bottom: 10px;
		}
		&:last-child { margin-right: 0; }
	}
}