mixin tab1()

	.content-block
		h2.title-section Описание
		p.product__text Активный отдых — важная составляющая жизни современного человека. Совместные прогулки с детьми, катание на самокате или коньках повышает настроение, развивает силу и ловкость и способствует дружескому общению. Мы прекрасно понимаем это, поэтому предлагаем лучшие транспортные средства ведущих мировых производителей. Самые яркие, удобные, надежные и безопасные!
		h4.title-small Особенности беговела Pukylino:
		ul.product-list
			each item in ['Можно использовать с 1 года (минимальный рост - 75 см)', 'Колеса из прочного пластика', 'Четыре варианта расцветки на выбор', 'Максимально допустимый вес ездока - 20 кг', 'Четыре крупных бесшумных колсе', 'Легкость управления', 'Алюминиевый корпус', 'Удобные не скользящие ручки с расширением по краям', 'Размеры модели - 51х26х22 см', 'Спроектирован и изготовлен в Германии', 'Гарантия на транспортное средство - 2 года']
				li.product-list__item=item
		p.product__text Возьмите с собой на прогулку красивый беговел. Сын или дочка будут кататься и с любопытством изучать окружающий мир!