extends ../pug/layout.pug

include ../blocks/header/header
include ../blocks/footer/footer

block meta
	title Бренды
	meta(name='description', content='')

block append head
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='css/magnific-popup.css')
	link(rel='stylesheet', href='css/slick.css')

block header
	+header()

block content	
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href='index.html').breadcrumbs__link Главная
				li.breadcrumbs__item
					span.breadcrumbs__current Бренды
	section.s-brands
		.container
			.brands
				h1.title-page Бренды
				ul.brands__list
								each brand in [{img: 'puky', name: 'PUKY'}, {img: 'hudora', name: 'HUDORA'}, {img: 'globber', name: 'GLOBBER'}, {img: 'kokua', name: 'KOKUA'}, {img: 'micro', name: 'MICRO'}, {img: 'stiga', name: 'STIGA'}, {img: 'kokua', name: 'KOKUA'}, {img: 'micro', name: 'MICRO'}, {img: 'stiga', name: 'STIGA'}, {img: 'puky', name: 'PUKY'}, {img: 'hudora', name: 'HUDORA'}, {img: 'globber', name: 'GLOBBER'},{img: 'puky', name: 'PUKY'}, {img: 'hudora', name: 'HUDORA'}, {img: 'globber', name: 'GLOBBER'}, {img: 'kokua', name: 'KOKUA'}, {img: 'micro', name: 'MICRO'}, {img: 'stiga', name: 'STIGA'}, {img: 'kokua', name: 'KOKUA'}, {img: 'micro', name: 'MICRO'}, {img: 'stiga', name: 'STIGA'}, {img: 'puky', name: 'PUKY'}, {img: 'hudora', name: 'HUDORA'}, {img: 'globber', name: 'GLOBBER'}]
									li.brands__item
										a(href="brand.html").brand
											img(src=`img/${brand.img}.jpg` alt='Логотип бренда').brand__img
											span.brand__name=brand.name
				.content-block.brands__content-block
					h3.title-block СЕО текст по брендам
					p.text Купить беговел можно в нашем интернет-магазине. Это обойдется недорого. В ассортименте есть большое количество моделей от известных производителей. Все товары соответствуют европейским стандартам безопасности. Интернет-магазин "Baby-toys" обслуживает покупателей из всех регионов Украины. Можно покупать товар партиями или поштучно. Доставка осуществляется в кратчайшие сроки независимо от количества приобретаемого товара. В случае необходимости магазин оказывает бесплатные консультации.
					p.text Интернет-магазин "Baby-toys" обслуживает покупателей из всех регионов Украины. Можно покупать товар партиями или поштучно. Доставка осуществляется в кратчайшие сроки независимо от количества приобретаемого товара. В случае необходимости магазин оказывает бесплатные консультации. СЕО текст по брендам. Купить беговел можно в нашем интернет-магазине. Это обойдется недорого. В ассортименте есть большое количество моделей от известных производителей. Все товары соответствуют европейским стандартам безопасности.

block footer
	+footer()

block page-bottom
	script(src='js/jquery.min.js')
	script(src='js/jquery.magnific-popup.min.js')
	script(src='js/slick.min.js')
	script(src='js/bundle.js')