extends ../pug/layout.pug

include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/products/prev-1
include ../blocks/products/prev-2
include ../blocks/products/prev-3
include ../blocks/products/prev-4

block meta
	title Бренд Puky
	meta(name='description', content='')

block append head
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='css/magnific-popup.css')
	link(rel='stylesheet', href='css/slick.css')

block header
	+header()

block content	
			.container
				.breadcrumbs
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a(href='index.html').breadcrumbs__link Главная
						li.breadcrumbs__item
							a(href='brands.html').breadcrumbs__link Бренды
						li.breadcrumbs__item
							span.breadcrumbs__current Puky
			section.s-brands
				.container
					h1.title-page Puky
					.brand-info
						.brand-info__tablet
							.brand__logo
								a(class='brand-info__link' href='img/puky-brand.jpg')
									img(src='img/puky-brand.jpg' alt='Логотип бренда').brand__img.brand-info__logo
						.brand__description
							p.text Вот уже более 60 лет Puky является одним из лидирующих Европейских производителей, специализируясь на создании транспорта для детей. 
							p.text Философия бизнеса Puky заключается в приверженности безопасности, качеству, дизайну и эргономики своих разработок для создания идеального транспорта для детей любого возраста. 
							p.text Продуктовая линейка Puky представлена широким ассортиментом моделей для активного детского отдыха: беговелов, двух и трехколесных велосипедов, самокатов, способствующих развитию физических способностей детей.
							p.text При минимальном уходе транспорт PUKY послужит еще и младшим братьям и сестрам Вашего ребенка. А когда вырастут и они, его можно будет подарить знакомым или даже продать. 
						.brand__certificates
							span.brand__certificates-label Сертификат соответствия:
							.brand__certificate
								a(class='brand-info__link' href='img/certificates.jpg')
									img(src='img/certificates.jpg' alt='Сертификат').brand__certificate-img
			section.s-slider
				.container
					.products-border-line-slider
						.products-border-line-slider__header
							h2.title-section Беговелы
							.products-border-line-slider__navigation
								.products-border-line-slider__btn.products-border-line-slider__btn--prev
									+icon('chevron-left', 'products-border-line-slider__icon')
								.products-border-line-slider__btn.products-border-line-slider__btn--next
									+icon('chevron-right', 'products-border-line-slider__icon')
						.products-border-line-slider__body
							.js-products-border-line-slider
								+prev-1()
								+prev-2()
								+prev-3()
								+prev-4()
								+prev-1()
								+prev-2()
								+prev-3()
								+prev-4()
			section.s-slider
				.container
					.products-border-line-slider
						.products-border-line-slider__header
							h2.title-section Другие товары
							.products-border-line-slider__navigation
								.products-border-line-slider__btn.products-border-line-slider__btn--prev
									+icon('chevron-left', 'products-border-line-slider__icon')
								.products-border-line-slider__btn.products-border-line-slider__btn--next
									+icon('chevron-right', 'products-border-line-slider__icon')
						.products-border-line-slider__body
							.js-products-border-line-slider
								+prev-4()
								+prev-3()
								+prev-1()
								+prev-2()
								+prev-1()
								+prev-2()
								+prev-3()
								+prev-4()
			section.s-content
				.container
					.content-block.brand__content-block
						h3.title-block СЕО текст по брендам
						p.text Купить беговел можно в нашем интернет-магазине. Это обойдется недорого. В ассортименте есть большое количество моделей от известных производителей. Все товары соответствуют европейским стандартам безопасности. Интернет-магазин "Baby-toys" обслуживает покупателей из всех регионов Украины. Можно покупать товар партиями или поштучно. Доставка осуществляется в кратчайшие сроки независимо от количества приобретаемого товара. В случае необходимости магазин оказывает бесплатные консультации.
						p.text Интернет-магазин "Baby-toys" обслуживает покупателей из всех регионов Украины. Можно покупать товар партиями или поштучно. Доставка осуществляется в кратчайшие сроки независимо от количества приобретаемого товара. В случае необходимости магазин оказывает бесплатные консультации. СЕО текст по брендам. Купить беговел можно в нашем интернет-магазине. Это обойдется недорого. В ассортименте есть большое количество моделей от известных производителей. Все товары соответствуют европейским стандартам безопасности.

block footer
	+footer()

block page-bottom
	script(src='js/jquery.min.js')
	script(src='js/jquery.magnific-popup.min.js')
	script(src='js/slick.min.js')
	script(src='js/bundle.js')