extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +logo('/')
    img(src='img/temp-logo.svg', alt='Logo', height='15')

block content
  h1 Заголовок

block footer
  p «Подвал»

block page-bottom
  script(src='js/some.js')
