extends ../pug/layout.pug


include ../blocks/header/header
include ../blocks/banner/banner
include ../blocks/advantages/advantages
include ../blocks/hits/hits
include ../blocks/information/information
include ../blocks/about/about
include ../blocks/footer/footer

block meta
	title Главная
	meta(name='description', content='')

block append head
	link(rel='stylesheet', href='css/slick.css')

block header
	+header()

block content
	+banner()
	+advantages()
	+hits()
	+information()
	+about()

block footer
	+footer()

block page-bottom
	script(src='js/jquery.min.js')
	script(src='js/slick.min.js')
	script(src='js/bundle.js')