extends ../pug/layout.pug

include ../blocks/banner/banner
include ../blocks/advantages/advantages

block meta
	title Главная
	meta(name='description', content='')

block append head
	link(rel='stylesheet', href='css/slick.css')

block header
	+header()

block content
	+banner()
	+advantages()

block footer

block page-bottom
	//- script(src='js/script.js')
	script(src='js/jquery.min.js')
	script(src='js/slick.min.js')
	script(src='js/bundle.js')