extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +header()

block content
  +banner()

block footer

block page-bottom
  //- script(src='js/script.js')
  script(src='js/jquery.min.js')
  script(src='js/slick.min.js')
  script(src='js/bundle.js')