extends ../pug/layout.pug

include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/search/search
include ../blocks/products/prev-1

block meta
	title Результаты поиска
	meta(name='description', content='')

block append head
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='css/slick.css')

block header
	+header()

block content	
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href='index.html').breadcrumbs__link Главная
				li.breadcrumbs__item
					span.breadcrumbs__current поиска
	section.s-search
		.container
			h1.title-page Результаты поиска
			.search-result
				.search-result__header
					.search-result__request
						span.search-result__label По запросу:
						+search-form()
					span.search-result__label Найдено 11 товаров				
				.search-result__body
					.products-prev__wrapper.products-prev__wrapper--small
						+prev-1()
						+prev-2()
						+prev-3()
						+prev-4()
						+prev-2()
						+prev-4()
						+prev-1()
						+prev-3()
						+prev-4()
						+prev-3()
						+prev-1()

block footer
	+footer()

block page-bottom
	script(src='js/jquery.min.js')
	script(src='js/slick.min.js')
	script(src='js/bundle.js')