extends ../pug/layout.pug

include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/advantages/advantages

block meta
	title Статическая страница
	meta(name='description', content='')

block append head
	link(rel='stylesheet', href='css/style.css')

block header
	+header()

block content	
	.container
		.breadcrumbs
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href='index.html').breadcrumbs__link Главная
				li.breadcrumbs__item
					span.breadcrumbs__current О компании
	section.s-static-page
		.container
			h1.title-page О компании
			.content-block
				p.text Интернет-магазин Baby-Toys занимается продажей зимнего и летнего транспорта для детей и их родителей. Компания работает на рынке уже больше 15 лет. За это время мы составили уникальный ассортимент товаров на любой вкус и кошелек. От классических велосипедов и санок до оригинальных беговелов и приобретающих все большую популярность снегокатов! 
				p.text Активный отдых — важная составляющая жизни современного человека. Совместные прогулки с детьми, катание на самокате или коньках повышает настроение, развивает силу и ловкость и способствует дружескому общению. Мы прекрасно понимаем это, поэтому предлагаем лучшие транспортные средства ведущих мировых производителей. Самые яркие, удобные, надежные и безопасные. 
				h2.title-section Наш ассортимент
				p.text В каталог не попадают «случайные» товары. Мы сотрудничаем с известными во всем мире производителями, тщательно анализируем рынок и выставляем на продажу скейты, ролики, самокаты, беговелы, санки и снегокаты, завоевавшие положительные отклики у покупателей. Это транспортные средства легендарных брендов:
				.content-block__row
					.content-block__col
						ul
							li MICRO (Швейцария)
							li EXPLORE (Канада)
							li PUKY (Германия)
							li STIGA (Швеция)
							li HUDORA (Германия)
							li UNLIMITED (США)
							li SMILEY (КНР)
					.content-block__col
						ul
							li PANTHER (Германия)
							li KOKUA (Германия)
							li BULLS (Германия)
							li GLOBBER (Франция)
							li SCOOL (Германия)
							li SMART SCOO (Германия)
				p.text Модели изготавливаются из высококачественных нетоксичных материалов по передовым технологиям. Они функциональны, удобны и безопасны. Готовая продукция имеет устойчивую конструкцию. Но главное — многочисленные восторженные отзывы ездоков и их родителей — тех, кто уже успел опробовать транспорт на собственном опыте. Все товары сертифицированы, на них предоставляется гарантия с возможностью обслуживания в сервисном центре.
				h4.title-small Причины выбрать baby-toys.com:
				.content-block__row
					.content-block__col
						ul
							li Огромный обновляемый ассортимент. На сайте в удобном электронном каталоге представлены роликовые и ледовые коньки, санки, скейтборды, самокаты, велосипеды, снегокаты, беговелы и многое другое.
							li Уверенность в качестве. Мы продаем только фирменные товары с сертификатами и предоставляем на них гарантию.
							li Квалифицированный персонал. Здесь работают знатоки своего дела, которые любят профессию и прекрасно разбираются в особенностях представленного товара. В магазине всегда можно получить совет по выбору, информацию о характеристиках и особенностях эксплуатации заинтересовавшей модели.
							li Привлекательная стоимость и регулярные распродажи для дополнительной выгоды. Для оптовиков — специальные условия заказа.
							li Курьерская доставка по Москве уже в день покупки (от 5000 рублей — бесплатно), а также отправление товаров в регионы.
							li Собственный сервисный центр. Не нужно искать мастера, наши специалисты произведут все необходимые работы по ремонту или замене деталей на высшем уровне.
				h4.title-small Как с нами связаться?
				p.text Задать вопросы о покупке можно прямо на сайте — через онлайн-форму внизу окна. Кроме того, специалисты готовы дать консультацию по телефонному номеру (044) 145-30-30. Также можно заказать обратный звонок, указав в комментарии удобное время для общения со специалистом.
				p.text Тех, кто считает, что лучше «один раз увидеть», мы приглашаем на наш склад. <br>
					b м. Коломенская, Проспект Ватутина, д 11 к 2, ТЦ "ПАНДА", 1 этаж, пав. №1/2
				
				.content-block__row.content-block__certificate
					.content-block__col
						h4.title-small Сертификаты
						img(src='img/certificate.jpg' alt='Сертификат').content-block__img
					.content-block__col.content-block__info
						h4.title-small Юридические данные
						ul.no-dots
							li ООО "Спорт-Юнити"
							li ИНН: 77723491238
							li ЕДРОП: 139531
							li Юридический адрес: 01100, г.Киев, ул.Франка 18а, д.37
		.content-block__advantages
			+advantages()

block footer
	+footer()

block page-bottom
	script(src='js/jquery.min.js')
	script(src='js/slick.min.js')
	script(src='js/bundle.js')