.logo {
  &__img {
		height: 22px;
		@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
			height: 16px;
		}
	}	
}

.mobile {
	&__logo {
		display: none;
		@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
			display: block;
		}
	}
}