.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.catalog-nav__list
			li.catalog-nav__item
				a(href="").catalog-nav__link
					span.catalog-nav__text Взрослые самокаты
					svg(class="catalog-nav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.catalog-nav__list
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с надувными колесами
			li.catalog-nav__item
				a(href="").catalog-nav__link
					span.catalog-nav__text Детские самокаты
					svg(class="catalog-nav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.catalog-nav__list
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
			li.catalog-nav__item
				a(href="").catalog-nav__link
					span.catalog-nav__text Городские самокаты
					svg(class="catalog-nav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.catalog-nav__list
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с надувными колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item.catalog-nav__item--shadow
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
					li.catalog-nav__item.catalog-nav__item--shadow
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item.catalog-nav__item--shadow
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item.catalog-nav__item--shadow
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
			li.catalog-nav__item
				a(href="").catalog-nav__link
					span.catalog-nav__text Трюковые самокаты
					svg(class="catalog-nav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.catalog-nav__list
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с надувными колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
			li.catalog-nav__item
				a(href="").catalog-nav__link
					span.catalog-nav__text Электросамокаты
					svg(class="catalog-nav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.catalog-nav__list
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с надувными колесами
			li.catalog-nav__item
				a(href="").catalog-nav__link
					span.catalog-nav__text Самокаты с двумя амортизаторами
					svg(class="catalog-nav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.catalog-nav__list
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с надувными колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
			li.catalog-nav__item
				a(href="").catalog-nav__link
					span.catalog-nav__text Самокаты от года
					svg(class="catalog-nav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.catalog-nav__list
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские двухколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские трехколесные самокаты
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с большими колесами
					li.catalog-nav__item
						a(href="").catalog-nav__link
							span.catalog-nav__text Детские самокаты с надувными колесами