.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.catalog-nav__list
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Накладки
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Запчасти
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Тормоза
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Фонари
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Шлемы
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Перчатки
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Наколенники