include ../../small-blocks/icon

nav.header__main-nav.main-nav
	ul.main-nav__list
		li.main-nav__item
			a(href="category.html").main-nav__link Самокаты
			include main-nav-dropdown-1
		li.main-nav__item
			a(href="category.html").main-nav__link Беговелы
			include main-nav-dropdown-2
		li.main-nav__item
			a(href="category.html").main-nav__link Велосипеды
			include main-nav-dropdown-2
		li.main-nav__item
			a(href="category.html").main-nav__link Ролики
			include main-nav-dropdown-1
		li.main-nav__item
			a(href="category.html").main-nav__link Скейты
			include main-nav-dropdown-2
		li.main-nav__item
			a(href="category.html").main-nav__link Батуты
			include main-nav-dropdown-1
		li.main-nav__item
			a(href="category.html").main-nav__link Аксессуары и запчасти
			include main-nav-dropdown-3
		li.main-nav__item.main-nav__item-more
			a(href="category.html").main-nav__link Еще
			.main-nav__img-wrapper
				+icon('chevron-down', 'select__icon')
			include main-nav-dropdown-8