.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.catalog-nav__list
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Сотрудничество
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Доп. условия
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Поставки
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Спец. спедложения
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Остатки
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Опт
			li.catalog-nav__item.catalog-nav__item--short
				a(href='category.html').catalog-nav__link
					span.catalog-nav__text Розница