.main-nav__dropdown-wrapper
	.main-nav__dropdown
		ul.main-subnav__list
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Взрослые самокаты
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Детские самокаты
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Городские самокаты
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Трюковые самокаты
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Электросамокаты
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Самокаты с двумя амортизаторами
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item.main-subnav__item--shadow
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Самокаты от года
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Самокаты Globber
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Самокаты Micro
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
			li.main-subnav__item
				a(href="").main-subnav__link
					span.main-subnav__text Самокаты Puky
					svg(class="main-subnav__icon")
						use(xlink:href="img/sprite.svg#chevron-right")
				ul.main-subnav__list
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские трехколесные самокаты
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с большими колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские самокаты с надувными колесами
					li.main-subnav__item
						a(href="").main-subnav__link
							span.main-subnav__text Детские двухколесные самокаты