nav.header__main-nav.main-nav
				ul.main-nav__list
					li.main-nav__item
						a(href="").main-nav__link Самокаты
						include main-nav-dropdown-1
					li.main-nav__item
						a(href="").main-nav__link Беговелы
					li.main-nav__item
						a(href="").main-nav__link Велосипеды
					li.main-nav__item
						a(href="").main-nav__link Ролики
					li.main-nav__item
						a(href="").main-nav__link Скейты
					li.main-nav__item
						a(href="").main-nav__link Батуты
						include main-nav-dropdown-2
					li.main-nav__item
						a(href="").main-nav__link Аксессуары и запчасти
					li.main-nav__item
						a(href="").main-nav__link Еще
						include main-nav-dropdown-3