.brands {
  border-top: 1px solid $alto;
  padding: 30px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > * {
      margin-right: 10px;
      margin-bottom: 45px;
      flex: 0 0 15%;
      width: 15%;
      @media screen and (max-width: $tablet-size) {
        margin-bottom: 0;
        flex: 0 0 25%;
        width: 25%;
      }
      @media screen and (max-width: $phone-size) {
        margin-bottom: 0;
        flex: 0 0 46%;
        width: 46%;
      }
    }
    @media screen and (max-width: $phone-size) {
      justify-content: flex-start;
    }
  }
}

.brand {
  align-items: center;
  color: $mine-shaft;
  display: flex;
  flex-direction: column;
  &__img {
    margin-bottom: 10px;
    transition: all linear 0.3s;
    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    }
  }
  &__name {
    margin-bottom: 35px;
  }
}