@import "src/blocks/information/news";
@import "src/blocks/information/review";
@import "src/blocks/information/brands";

.light-bg {
	background-color: $parcelain;
}

.s-information {
	padding: 35px 0 50px 0;
}

.information {
	display: flex;
	@media screen and (max-width: $tablet-size) {
		flex-wrap: wrap;
	}
	& > * {
		flex: 1;
		padding-right: 30px;
		@media screen and (max-width: $tablet-size) {
			flex: 0 0 50%;
			width: 50%;
		}
		&:last-child { padding-right: 0; }
	}
	&-item {
		&__body {
			height: 300px;
		}
		&__link {
			color: $mine-shaft;
			border-bottom: 1px solid rgba(38, 38, 38, 0.15);
			display: inline-block;
			font-size: $base-font-size - 2px;   
		}
		&__count {
			color: $chelsea-cucumber;
		}
		&__footer {
			display: flex;
			& > * {
				margin-right: 5px;
				&:last-child { margin-right: 0; }
			}
		}
		&.information-item--wide {
			@media screen and (max-width: $tablet-size) {
				flex: 1;
				margin-top: 40px;
				width: 100%;
			}
			.information-item {
				&__body {
					@media screen and (max-width: $tablet-size) {
						height: 110px;
					}
				}
			}
		}
	}
}