@import "src/blocks/information/news";
@import "src/blocks/information/review";
@import "src/blocks/information/brands";

.light-bg {
	background-color: $parcelain;
}

.information {
	display: flex;
	@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
		flex-wrap: wrap;
	}
	@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
		flex-direction: column;
	}
	& > * {
		flex: 1;
		padding-right: 30px;
		@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
			flex: 0 0 50%;
			width: 50%;
		}
		@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
			flex: 1;
			width: 100%;
		}
		&:last-child { padding-right: 0; }
	}
	&-item {
		&__header {
			margin-top: 30px;
		}
		&__body {
			height: auto;
			@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
				height: auto;
				margin-bottom: 0;
			}
		}
		&__link {
			color: $mine-shaft;
			border-bottom: 1px solid rgba(38, 38, 38, 0.15);
			display: inline-block;
			font-size: $base-font-size - 2px;
			&-news {
				margin-top: 41px;
				@media screen and (min-width: $phone-size-small) and (max-width: $phablet-size) {
					margin-top: 30px;
				}
			}
			&-reviews {
				margin-top: 30px;
			}
			&-brands {
				margin-top: 10px;
				@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
					margin-top: 0;
				}
			}
			&-count {
				margin-top: 10px;
				@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
					margin-top: 0;
				}
			}
		}
		&__count {
			color: $chelsea-cucumber;
			font-size: $base-font-size - 2px;
		}
		&__footer {
			display: flex;
			& > * {
				margin-right: 5px;
				&:last-child { margin-right: 0; }
			}
		}
		&.information-item--wide {
			@media screen and (min-width: $phablet-size) and (max-width: $tablet-size) {
				flex: 1;
				width: 100%;
			}
		}
	}
}

.s-information {
	padding: 0px 0 42px 0;
}
