@import "src/blocks/information/news.scss";
@import "src/blocks/information/review.scss";
@import "src/blocks/information/brands.scss";

.light-bg {
	background-color: $parcelain;
}

.s-information {
	padding: 35px 0 50px 0;
}

.information {
	display: flex;
	& > * {
		flex: 1;
		padding-right: 30px;
		&:last-child { padding-right: 0; }
	}
	&-item {
		&__body {
			height: 300px;
		}
		&__link {
			color: $mine-shaft;
			border-bottom: 1px solid rgba(38, 38, 38, 0.15);
			display: inline-block;
			font-size: $base-font-size - 2px;   
		}
		&__count {
			color: $chelsea-cucumber;
		}
		&__footer {
			display: flex;
			& > * {
				margin-right: 5px;
				&:last-child { margin-right: 0; }
			}
		}
	}
}