.news-prev {
  align-items: flex-start;
  color: $mine-shaft;
  display: flex;
  margin-bottom: 40px;
  &:last-child { margin-bottom: 0; }
  &__img {
    @include size(80px);
    background-size: cover;
    border-radius: 4px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  &__title {
    color: $mine-shaft;
    display: block;
    margin-bottom: 10px;
  }
  &__date {
    color: $oslo-gray;
    font-size: $base-font-size - 4px;
  }
  // &__link {
  //   color: $tundora;    
  // }
}