.review-prev {
  &__text {
    font-size: $base-font-size - 2px;
    line-height: 1.79;
    margin-bottom: 15px;
    width: 340px;
    @media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
      font-size: $base-font-size - 4px;
      width: 100%;
    }
  }
  &__author {
    background-color: $white;
    border: 1px solid rgba(38, 38, 38, 0.1);
    border-radius: 20px;
    color: $oslo-gray;
    display: inline-block;
    font-size: $base-font-size - 4px;
    height: 20px;
    line-height: 18px;
    padding: 0 15px;
  }
}