@import "content-block";

.mobile-scroll {
  &-wrapper {
    margin: 0 -15px !important;
    overflow: auto;
  }
  &-inner {
    display: inline-block;
    padding: 0 15px;
    width: 100%;
    @media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
			padding: 0 15px 20px 15px;
		}
  }
}