mixin advantages

	section.s-advantages
		.container
			.advantages
				.advantage
					svg(class="advantage__icon")
						use(xlink:href="img/sprite.svg#warranty")
					.advantage__body
						span.advantage__title Гарантия
						span.advantage__descr качества всех товаров
				.advantage
					svg(class="advantage__icon")
							use(xlink:href="img/sprite.svg#delivery")
					.advantage__body
						span.advantage__title Доставка
						span.advantage__descr по Киеву и области
				.advantage
					svg(class="advantage__icon")
							use(xlink:href="img/sprite.svg#wallet")
					.advantage__body
						span.advantage__title Оплата
						span.advantage__descr онлайн и наличными