include ../small-blocks/icon

mixin advantages

	section.s-advantages
		.container
			.advantages
				.advantage
					+icon('warranty', 'advantage__icon')
					.advantage__body
						span.advantage__title Гарантия
						span.advantage__descr качества всех товаров
				.advantage
					+icon('delivery', 'advantage__icon')
					.advantage__body
						span.advantage__title Доставка
						span.advantage__descr по Киеву и области
				.advantage
					+icon('wallet', 'advantage__icon')
					.advantage__body
						span.advantage__title Оплата
						span.advantage__descr онлайн и наличными