.s-advantages {
	padding-bottom: 15px;
}

.advantages {
	align-items: center;
	background-color: $parcelain;
	border-radius: 4px;
	display: flex;
	padding: 20px;
	@media screen and (min-device-width: $phablet-size) and (max-device-width: $tablet-size) {
		justify-content: space-between;
		padding: 20px 40px;
	}
	@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 20px 20px;
	}
	@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phone-size) {		
		flex-direction: column;
		padding-top: 30px;
	}
}

.advantage {
	align-items: center;
	display: flex;
	margin-right: 190px;
	@media screen and (min-device-width: $phablet-size) and (max-device-width: $tablet-size) {
		flex-direction: row;
		margin-right: 0;
	}
	@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
		flex-direction: column;
		text-align: left;
		margin-bottom: 10px;
		margin-right: 0;
	}
	@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phone-size) {
		margin-bottom: 30px;
		&:last-child { margin-bottom: 10px; }
	}
	&:last-child {
		margin-right: 0;
	}
	&__body {
		display: flex;
		flex-direction: column;
		@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
			justify-content: space-between;
			text-align: center;
		}
	}
	&__icon {
		@include size(40px);
		fill: $dusty-gray;
		margin-right: 20px;
		@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
			margin-right: 0;
			margin-bottom: 5px;	
		}
	}
	&__title {
		font-size: $base-font-size + 2px;
		margin-bottom: 5px;
		@media screen and (min-device-width: $phone-size-small) and (max-device-width: $phablet-size) {
			font-size: $base-font-size - 1px;
		}
	}
	&__descr {
		color: $mid-gray;
		font-size: $base-font-size - 4px;
	}
}