.btn {
	background-color: $white;
	border: 1px solid $blaze-orange;
	border-radius: 4px;
	color: $blaze-orange;
	cursor: pointer;
	display: block;
	font-size: $base-font-size - 3px;
	font-weight: 600;
	line-height: 37px;
	height: 40px;
	text-align: center;
	padding: 0 20px;
	transition: all linear .3s;
	width: 100%;
	white-space: nowrap;
	&:hover {
		background-color: $blaze-orange;
		color: $white;
	}
	&.btn {
		&--transparent {
			&-white{
				background-color: transparent;
				border-color: $white;
				color: $white;
				&:hover {
					background-color: $white;
					color: $blaze-orange;
				}
			}
			&-gray {
				border-color: rgba(38, 38, 38, 0.15);
				background-color: transparent;
				color: $oslo-gray;
				font-weight: 400;
				&:hover {
					background-color: rgba(38, 38, 38, 0.15);
					color: $tundora;
				}
			}
		}
		&--bg {
			&-orange {
				background-color: $blaze-orange;
				border: 2px solid $blaze-orange;
				color: $white;
				&:hover {
					background-color: $white;
					border: 2px solid $blaze-orange;
					color: $blaze-orange;
				}
			}
		}
		&--contour {
			&-gray {
				border: 2px solid $alto;
				color: $tundora;
				line-height: 36px;
				&:hover {
					background-color: $alto;
					color: $white;
				}
			}
		}
		&--round {
			border-radius: 20px;
		}
		&--inline {
			display: inline-block;
			width: auto;
		}
		&--small {
			height: 30px;
			line-height: 28px;
			padding: 0 15px;
			@media screen and (min-width: $phone-size-small) and (max-width: $tablet-size) {
				padding: 0 8px;
			}
		}
		&--big {
			line-height: 48px;
			height: 50px;
		}
	}
}
