.products-line-slider {
	&__navigation {
		align-items: center;
		display: none;
		justify-content: space-between;
		@media screen and (max-width: $tablet-size) {
			display: flex;
		}
	}
	.product-prev {
		border-color: transparent;
		margin: 10px 15px 30px;
		@media screen and (max-width: 549px) {
			border-color: $alto;
			margin: 10px 0 30px;
		}
	}
	&__btn {
		@include size(40px);
		align-items: center;
		border: 1px solid $alto;
		border-radius: 2px;
		cursor: pointer;
		display: flex;
		justify-content: center;
	}
	&__icon {
		@include size(15px);
		fill: $blaze-orange;
	}
	&__dot {
		@include size(10px);
		border-radius: 50%;
		background-color: $alto;
		cursor: pointer;
		display: block;
	}
	&__dots {
		.slick-dots {
			align-items: center;
			display: flex;
			li {
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				&.slick-active {
					.products-line-slider__dot {
						background-color: $blaze-orange;
					}
				}
			}
		}
	}
}