.product-prev {
	border: 1px solid $alto;
	border-radius: 2px;
	outline: none;
	padding: 20px;
	padding-top: 190px;
	position: relative;
	transition: all linear 0.3s;
	&:hover {
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05)
	}
	&__header {
		left: 20px; 
		height: 160px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		text-align: center;
	}
	&__img {
		max-width: 100%;
		max-height: 160px;
		margin: 0 auto;
		&-wrapper{
			outline: none;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	&__body {
		padding-top: 90px;
		position: relative;
		margin-bottom: 20px;
	}
	&__title {
		font-size: $base-font-size;
		font-weight: 600;
		line-height: 1.43;
	}
	&__country {
		font-size: $base-font-size - 2px;
	}
	&__price {
		align-items: baseline;
		display: flex;
		margin-bottom: 20px;
		& > * {
			margin-right: 10px;
			&:last-child { margin-right: 0; }
		}
		&-current {
			color: $blaze-orange;
			font-size: $base-font-size + 4px;
			font-weight: 600;
		}
		&-old {
			color: $tundora;
			font-size: $base-font-size - 3px;
			text-decoration: line-through;
		}
	}
	&__colors {
		.slick-dots {
			display: flex;
			overflow-y: hidden;
			li {
				border:	1px solid #dddddd;
				border-radius: 2px;
				padding: 2px;
				margin-right: 5px;
				&.slick-active {
					border-color: $tundora;
				}
			}
		}
	}
	&__color {
		@include size(20px);
		border-radius: 2px;
		cursor: pointer;
		display: block;
		outline: none;
		&--white {
			border: 1px solid $alto;
		}
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}