mixin prev-3()

	.product-prev
		.product-prev__header
			.js-product-prev__slider
				.product-prev__img-wrapper(data-color="#000000")
					a(class='product-prev__img-wrapper' href='product.html')
						img(src="img/prev-3.1.jpg" alt="Изображение товара").product-prev__img
				.product-prev__img-wrapper(data-color="#7ed321")
					a(class='product-prev__img-wrapper' href='product.html')
						img(src="img/prev-3.2.jpg" alt="Изображение товара").product-prev__img
		.product-prev__body
			.product-prev__info
				a(href='product.html' class='product-prev__title') Беговел Puky Pukylino
				span.product-prev__country Германия
			.product-prev__price
				span.product-prev__price-current 4 200 грн.
				span.product-prev__price-old 6 800 грн.
			.product-prev__colors
		.product-prev__footer
			button.btn В корзину