mixin prev-4()

	.product-prev
		.product-prev__header
			.js-product-prev__slider
				.product-prev__img-wrapper(data-color="#dd50ad")
					a(class='product-prev__img-wrapper' href='product.html')
						img(src="img/prev-4.1.jpg" alt="Изображение товара").product-prev__img
				.product-prev__img-wrapper(data-color="#ffffff")
					a(class='product-prev__img-wrapper' href='product.html')
						img(src="img/prev-4.2.jpg" alt="Изображение товара").product-prev__img
				.product-prev__img-wrapper(data-color="#000000")
					a(class='product-prev__img-wrapper' href='product.html')
						img(src="img/prev-4.3.jpg" alt="Изображение товара").product-prev__img
		.product-prev__body
			.product-prev__info
				a(href='product.html' class='product-prev__title') Беговел Puky Pukylino
				span.product-prev__country Германия
			.product-prev__price
				span.product-prev__price-current 4 990 грн.
				span.product-prev__price-old 7 500 грн.
			.product-prev__colors
		.product-prev__footer
			button.btn В корзину