@import "src/scss/vars";

html {
	font-size: $base-font-size;
	height: 100%;
	// overflow-x: hidden;
	// width: 100%;
	// height: 100%;
	&.fixed {
		overflow: hidden;
		body {
			overflow: hidden;
		}
	}
}

body {
	color: $mine-shaft;
	font-family: $main-font;
	height: 100%;
	margin: 0;
	// overflow-x: hidden;
	// width: 100%;
	// &.fixed {
	// 	overflow: hidden;
	// }
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

audio, canvas, iframe, img, svg, video, textarea {
	vertical-align: middle;
}

textarea {
	resize: none;
}

section {
	position: relative;
}

input, select, button {
	outline: none;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	position: relative;
	transition: all linear 0.5s;
	&.mobile-menu-open {
		left: 100%;
	}
}

.content {
	flex: 1 0 auto;
}

.container {
	margin: 0 auto;
	max-width: $content-size;
	padding: 0 15px;
	position: relative;
	width: 100%;
}