mixin informNavLink(link,text)
	li.inform-nav__item
		a(href=link).inform-nav__link=text

.header__top
	.container
		.header__content
			nav.header__nav.inform-nav
				ul.inform-nav__list
					+informNavLink('static-page.html','О компании')
					+informNavLink('static-page.html','Доставка и оплата')
					+informNavLink('static-page.html','Акции')
					+informNavLink('static-page.html','Оптовикам')
					+informNavLink('static-page.html','Новости')
					+informNavLink('static-page.html','Гарантии')
					+informNavLink('static-page.html','Контакты')
			nav.header__nav.header__nav--right.header-nav
				ul.inform-nav__list
					+informNavLink('static-page.html','Регистрация')
					+informNavLink('static-page.html','Вход')