mixin informNavLink(link,text,mod)
	li(class=mod).inform-nav__item
		a(href=link).inform-nav__link=text

include ../small-blocks/icon

.header__top
	.container
		.header__content
			nav.header__nav.inform-nav
				ul.inform-nav__list
					+informNavLink('static-page.html','О компании')
					+informNavLink('static-page.html','Доставка и оплата')
					+informNavLink('static-page.html','Акции','inform-nav__tablet-hide')
					+informNavLink('static-page.html','Оптовикам','inform-nav__tablet-hide')
					+informNavLink('static-page.html','Новости','inform-nav__tablet-hide')
					+informNavLink('static-page.html','Гарантии','inform-nav__tablet-hide')
					+informNavLink('static-page.html','Контакты')
					li.inform-nav__tablet-toggle
						+icon('dots', 'inform-nav__tablet-icon')
						.inform-subnav
							.inform-subnav__arrow
							ul.inform-subnav__list
								each item in ['Акции','Оптовикам','Новости','Гарантии']
									li.inform-subnav__item
										a(href='').inform-subnav__link=item
			nav.header__nav.header__nav--right.inform-nav
				ul.inform-nav__list
					+informNavLink('static-page.html','Регистрация')
					+informNavLink('static-page.html','Вход')