include ../search/search
include ../small-blocks/icon
include ../sandwich/sandwich
include ../search/search

mixin mainSubnavLink(link,text)
	li.catalog-nav__item
		a(href=link).catalog-nav__link
			span.catalog-nav__text=text
			+icon('chevron-right', 'catalog-nav__icon')

mixin informNavLink(link,text)
	li.inform-nav__item
		a(href=link).inform-nav__link=text

.header__mobile
	.container
		.mobile-menu
			.mobile-menu__toggle
				+sandwich()
				span.mobile-menu__title Каталог товаров
			.mobile-menu__content
				.mobile-menu__header
					span.mobile-menu__title Меню
					.mobile-menu__close
						+icon('close', 'mobile-menu__close-icon')
				.mobile-menu__body
					nav.catalog-nav
						ul.catalog-nav__list
							each text in ['Самокаты', 'Беговелы', 'Велосипеды', 'Ролики', 'Скейты', 'Батуты', 'Аксессуары и запчасти', 'Зимний спорт', 'Настольные игры']
								+mainSubnavLink('',text)
					nav.inform-nav.inform-nav--col
						ul.inform-nav__list
							+informNavLink('static-page.html','О компании')
							+informNavLink('static-page.html','Доставка и оплата')
							+informNavLink('static-page.html','Акции')
							+informNavLink('static-page.html','Оптовикам')
							+informNavLink('static-page.html','Новости')
							+informNavLink('static-page.html','Гарантии')
							+informNavLink('static-page.html','Контакты')
					.mobile-menu__footer
						.mobile-menu__phone
							a(href="tel:0441453030").mobile-menu__phone-number (044) 145-30-30
							a(href="").mobile-menu__phone-link Заказать звонок
						.mobile-menu__phone
							a(href="tel:0441453030").mobile-menu__phone-number (044) 145-14-14
							span.mobile-menu__phone-text Звонок бесплатный
		if (pageClass === "index-page")
			.mobile__logo.logo
				img(src="img/logo.svg" alt="Логотип").logo__img
		else
			a(href="index.html").mobile__logo.logo
				+logo('logo__img').logo__img
		.search.search__form-mobile--hide
			+search-form()
		nav.mobile-user-nav
			ul.mobile-user-nav__list
				li.mobile-user-nav__item
					a(href="search.html").mobile-user-nav__link
						+icon('search', 'mobile-user-nav__icon')
				li.mobile-user-nav__item
					a(href="").mobile-user-nav__link
						+icon('user', 'mobile-user-nav__icon')
				li.mobile-user-nav__item
					a(href="").mobile-user-nav__link
						+icon('basket', 'mobile-user-nav__icon')
