.header__main
	.container
		.header__content
			.header__logo.logo
				+logo().logo__img
			.header__phones
				.header__item.header__item--mobile
					a(href="tel:0441453030").header__phone (044) 145-30-30
					a(href="").header__link Заказать звонок
				.header__item
					a(href="tel:0441453030").header__phone (044) 145-14-14
					span.header__description Звонок бесплатный
			.header__shop
				.header-goods
					span.header-goods__price 0 грн.
					span.header-goods__count 0 товаров
				.header-basket
					svg(class="header-basket__icon")
						use(xlink:href="img/sprite.svg#basket")
					span.header-basket__text Корзина