.mobile-nav {
  &__header {
    align-items: center;
    background-color: $blaze-orange;
    color: $white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 50px;
    & > * {
      margin-right: 25px;
      &:last-child { margin-right: 0; }
    }
  }
  &__title {
    font-weight: 600;
  }
}